<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="componente2.component.scss">
    <title>Promot</title>

</head>
<body>
    <header>
        <div class="encabezado">
            <h2 class="nombre">Promot</h2>
        </div>
    </header>
    <nav></nav>
    <main>
        <div class="validacion">
            LA CREDENCIAL ES VALIDA
        </div>
        <br><br>
        <div class="datos">
            <img src="https://i.ibb.co/kSFRrQF/Captura-de-pantalla-2024-02-11-210205.png" alt="Imagen" border="0">
            <div class="tabla-texto">
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Nombre
                    </div>
                    <div class="cuadro-derecho">
                        Luis Miguel
                    </div>
                </div>
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Documento de Identidad
                    </div>
                    <div class="cuadro-derecho">
                        45678191
                    </div>
                </div>
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Perfil
                    </div>
                    <div class="cuadro-derecho">
                        SUPERVISOR DE SEGURIDAD
                    </div>
                </div>
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Empresa
                    </div>
                    <div class="cuadro-derecho">
                        HISSO S.A.C
                    </div>
                </div>
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Fecha de Emisión
                    </div>
                    <div class="cuadro-derecho">
                        MIERCOLES, 22 DE FEBRERO 2024
                    </div>
                </div>
                <div class="fila">
                    <div class="cuadro-izquierdo">
                        Fecha de Vencimiento
                    </div>
                    <div class="cuadro-derecho">
                        JUEVES, 22 DE FEBRERO 2025
                    </div>
                </div>
            </div>
        </div>
        <div class="cursos">
            <h1>Cursos</h1>
        </div>
        <div class="datoscursos">
            <div class="infcursos">
                <div class="filacursos">
                    <div class="cursos-izquierdo">
                        1
                    </div>
                    <div class="cursos-derecho">
                     <a routerLink="/cursos">Inducción de Seguridad y Salud en el Trabajo para Contratistas / Transportistas</a>
                    </div>
                </div>
                <br>
                <div class="filacursos">
                    <div class="cursos-izquierdo">
                        2
                    </div>
                    <div class="cursos-derecho">
                        <a href="pagina2.html">Trabajos en caliente</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer><br><br><br><br><br></footer>
    <script src="script.js"></script>
</body>
</html>
