<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="componente3.component.scss">
    <title>Promot</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <h2 class="nombre">Promot</h2>
        </div>
    </header>
    <nav></nav>
    <main>
        <div class="validacion">
            IMPRIMIR
        </div>
        <br><br>
        <div class="datos">
            <div class="txt">
                <h1>SUPERVISOR</h1>
                <h2 class="nomb">LUIS MIGUEL SANCHEZ QUISPE<br>
                    45678191<br><br>
                </h2>
                <h1>ALICORP. S.A.</h1>
            </div>
            <div class="imagen"><img src="https://i.ibb.co/kSFRrQF/Captura-de-pantalla-2024-02-11-210205.png" alt="miguel" border="0"> </div><br>
            <h3>CONSTANCIA DE</h3>
            <h2 class="curso">Inducción de Seguridad y Salud en el <br> Trabajo para Contratistas / <br>
                Transportistas</h2>
            <div class="linea-inferior"></div>

            <div class="info">
                Ortorgado por <span class="celeste">HISSO CONSULTORES</span> por haber aprobado <br>
                el curso de <strong>Inducción de Seguridad y Salud en el Trabajo <br>
                para Contratistas / Transportistas.</strong>
            </div>

            <div class="codigo-qr-container">
                <a href=""><img class="codigo-qr" src="https://i.ibb.co/Tg43WMn/codigoqr.jpg" alt="codigoqr" border="0"></a>
            </div>
            <div class="txtfinal">Vigencia hasta: <strong>22 de febrero de 2025</strong></div>
        </div>
    </main>
    <footer><br><br><br><br><br></footer>
</body>
</html>

